export(aw_code)
export(aw_coords)
export(aw_data)
export(aw_images)
export(aw_unique)
import(httr)
importFrom(assertthat,assert_that)
importFrom(dplyr,filter)
importFrom(dplyr,rbind_all)
importFrom(rjson,fromJSON)
