export(aw_code)
export(aw_coords)
export(aw_data)
export(aw_images)
export(aw_map)
export(aw_unique)
import(httr)
import(leafletR)
importFrom(assertthat,assert_that)
importFrom(plyr,rbind.fill)
importFrom(rjson,fromJSON)
